<div class="styled-container col-md-offset-2 col-md-8">
	<div class="col-md-12">
		<h2><%= @user.name %></h2>
	</div>
	<div class="col-md-1">
		<%= gravatar_for @user, size: 52 %>
	</div>
	<div class="col-md-11">
		Aquí aparecerá información sobre el usuario.<br/><br/><br/><br/>
	</div>
	<ul class="nav nav-tabs" role="tablist">
	  <li class="active"><a href="#books" role="tab" data-toggle="tab">Libros</a></li>
	  <li><a href="#friends" role="tab" data-toggle="tab">Amigos</a></li>
	  <% if @user == current_user %>
	  <li><a href="#friend-requests" role="tab" data-toggle="tab">Solicitudes de amistad (<%= Friendship.where(:friend_id => current_user.id, :status => 0).count %>)</a></li>
	  <% end %>
	  <li><a href="#book-requests" role="tab" data-toggle="tab">Solicitudes de Libros (<%= Loan.n_requests_to_user(current_user) %>)</a></li>
	  <li><a href="#book-loaned" role="tab" data-toggle="tab">Libros prestados (<%= Loan.n_books_loaned(current_user) %>)</a></li>
	</ul>
	<div class="tab-content">
	  <div class="tab-pane fade in active" id="books">
	  	<div class="col-md-12">
			<h2>Libros del usuario</h2>
			<% for @book in @user.books %>
				<%= render "books/book" %>
			<% end %>
		</div>
	  </div>
	  <div class="tab-pane fade" id="friends">
	  	<div class="col-md-12">
			<h2>Lista de Amigos</h2>
			<% for friendship in Friendship.friends_by_user(@user.id) %>
				<%= render friendship.friend %>
			<% end %>
		</div>
	  </div>
	  <% if @user == current_user %>
	  <div class="tab-pane fade" id="friend-requests">
	  	<div class="col-md-12">			
			<h2> Solicitudes de amistad </h2>
			<% if @user.inverse_friendships.where("status = 0").count == 0 %>
				<p>No tienes solicitudes de amistad</p>
			<% end %>
			<% for friendship in @user.inverse_friendships.where("status = 0") %>
				<div class="col-xs-12 col-sm-6 col-md-6 panel panel-default panel-body">
					<div class="col-md-2">
					<%= gravatar_for friendship.user, size: 52 %>
					</div>
					<div class="col-md-3">
					<%= link_to friendship.user.name, friendship.user %>
					</div>
					<div class="col-md-1">
					<%= link_to "Aceptar solicitud", friendships_accept_path(friendship.id), :class => "btn btn-primary" %>
					</div>
				</div>
			<% end %>			
		</div>
	  </div>
	  <div class="tab-pane fade" id="book-requests">
	  	<div class="col-md-12">	
	  		<h2>Solicitudes de Libros</h2>
	  		<% if Loan.n_requests_to_user(current_user) == 0 %>
	  			No te han solicitado libros
	  		<% else %>
	  			<% for loan in Loan.requests_to_user(current_user) %>
	  				Libro: <%= loan.book.title %><br/>
	  				Pedido por: <%= User.find(loan.user_id).name %><br/>
	  				<%= link_to "Prestar Libro", accept_loan_path(:id => loan.id), :class => "btn btn-primary" %>
	  				<%= link_to "Rechazar solicitud", loan_path(:id => loan.id), :data => { :confirm => "¿Rechazar la solicitud?" }, :method => :delete, :class => "btn btn-danger" %><br/>
	  			<br/>
	  			<% end %>
	  		<% end %>
	  	</div>
	  </div>
	  <div class="tab-pane fade" id="book-loaned">
	  	<div class="col-md-12">	
	  		<h2>Libros Prestados</h2>
	  		<% for loan in Loan.books_loaned(current_user) %>
	  				Libro: <%= loan.book.title %><br/>
	  				Pedido por: <%= User.find(loan.user_id).name %><br/>
	  				<%= link_to "Te devolvieron este libro", book_returned_path(:id => loan.id), :class => "btn btn-primary" %>
	  				<br/>
	  			<br/>
	  			<% end %>
	  	</div>
	  </div>
	  <% end %>
	</div>	
</div>