<nav class="navbar navbar-default navbar-fixed-top top-banner" role="navigation">
	<% if true == false %>
		<p class='alert-success' role='alert'><%= notice %></p>
		<p class='alert-warning' role='alert'><%= alert %></p>
	<% end %>
	<div class="container-fluid">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsed">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
		    <%= link_to "TÍTULO", root_path, :class => "navbar-brand" %>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapsed">
			<ul class="nav navbar-nav navbar-right">
				<% if !user_signed_in? %>
				<% if controller_name == 'sessions' %>
				<li class="active">
				<% else %>
				<li>
				<% end %>
				<%= link_to "Entrar", new_user_session_path %></li>

				<% if controller_name == 'registrations' %>
				<li class="active">
				<% else %>
				<li>
				<% end %>
				<%= link_to "Registrarse", new_user_registration_path %></li>

				<% else #Lo de abajo se ejecuta si el usuario está registrado%>
				<% if controller_name == 'users' and action_name == 'show' and current_user.id == @user.id %>
				<li class="active">
				<% else %>
				<li>
				<% end %>
				<%= link_to "Mi cuenta", current_user %></li>

				<% if controller_name == 'books' and action_name == 'new' %>
				<li class="active">
				<% else %>
				<li>
				<% end %>
				<%= link_to "Añadir Libro", new_book_path %></li>

				<% if controller_name == 'registrations' and action_name == 'edit' %>
				<li class="active">
				<% else %>
				<li>
				<% end %>
				<%= link_to "Editar Cuenta", edit_user_registration_path(current_user.id) %></li>

				<% if controller_name == 'users' and action_name == 'index' %>
				<li class="active">
				<% else %>
				<li>
				<% end %><%= link_to "Usuarios", users_path %></li>
				<li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>