<!DOCTYPE html>
<html>
<head>
  <title>ProjectB</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="wrap">
<% if true == true %>
	<p class='alert-success' role='alert'><%= notice %></p>
	<p class='alert-warning' role='alert'><%= alert %></p>
<% end %>
	<%= render "layouts/top_navbar" %>
	<%= yield %>
</div>
<%= render "layouts/footer" %>
</body>
</html>
